.Wrap {}



/* { topBanner : lee 2022.03.17 최종수정 */
.topBannner {
    padding: 24px 0;
    background: #f3f3f3;
}

.topBannner .container {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;

}

.topBannner .container h2 {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 100;
    letter-spacing: 0.040em;
}

.topBannner .container p {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: -0.025em;
}

.topBannner .container a {
    display: inline-block;
    height: 16px;
    line-height: 14px;
    margin-left: 20px;
    padding: 0 20px;
    border: 1px solid #333;
    font-size: 13px;
    font-weight: 300;
    text-transform: uppercase;
}

.topBannner .container i {
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
}

/*  topBanner : lee 2022.03.17 최종수정 }  */



/* { header : lee 2022.03.17 최종수정  */

.headerWrap {}

.headerWrap .container {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    line-height: 100px;
}

.headerWrap .container>* {
    padding: 0 15px;
}

.headerWrap .searchForm {
    margin-left: auto;
}

.gnb {}

.gnb>ul {
    display: flex;
}

.gnb>ul>li {
    position: relative;
    padding: 0 20px;
}

.gnb>ul>li~li::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);

    display: block;
    width: 2px;
    height: 13px;
    background: #333;
}

/* .gnb>ul>li:nth-child(1):after {
    display:none;
} */

.headerWrap .searchForm input[type="search"] {
    padding: 3px 0;
    outline: none;
    border: none;
    border-bottom: 1px solid #333;
}

.headerWrap .searchForm input[type="search"]::placeholder {
    color: rgb(255, 255, 255);
    font-size: 13px;
}

.headerWrap .searchForm input[type="search"]:focus::placeholder {
    color: transparent;
}

.headerWrap .searchForm button {
    outline: none;
    border: none;
    background: transparent;
}

.headerWrap .searchForm button i {
    font-size: 15px;
    color: #fff;
    background: #333;
    padding: 10px;
    border-radius: 50%;
}

.mainVisual .visualSlide {
    border-top: 1px solid #ddd;
}

.mainVisual .visualSlide figure {
    height: 600px;
}

.mainVisual .visualSlide figure.slick-active {

}
.mainVisual .visualSlide figure .inner {
    width: 1200px;
    margin: 300px auto 0 auto;
    padding: 0 15px;
    color: #fff;
}

.mainVisual .visualSlide figure .inner h3 {
    opacity: 0;
    transform: translateY(100px);
    font-size: 60px;
    font-weight: 900;
    margin-bottom: 30px;
    text-shadow: 0 0 2px #333;
    transition: 1s 0.5s;
}
.mainVisual .visualSlide figure .inner p {
    opacity: 0;
    transform: translateY(100px);
    font-size: 15px;
    font-weight: 300;
    transition: 1s 1s;
}
.mainVisual .visualSlide figure.slick-active .inner h3{
    opacity: 1;
    transform: translateY(0);
}

.mainVisual .visualSlide figure.slick-active .inner p{
    opacity: 1;
    transform: translateY(0); 
}

.mainVisual .visualSlide .itm01 {
    background: url(../imges/mainvisual01.jpg) no-repeat center center/cover;
}

.mainVisual .visualSlide .itm02 {
    background: url(../imges/mainvisual02.jpg) no-repeat center center/cover;
}

.mainVisual .visualSlide .itm03 {
    background: url(../imges/mainvisual03.jpg) no-repeat center center/cover;
}

.mainVisual .visualSlide .slick-dots {
    position: absolute;
    left: 50%;
    bottom: 60px;
    transform: translateX(-50%);

    display: flex;
    gap: 10px;
}

.mainVisual .visualSlide .slick-dots li {
    width: 100px;
    height: 5px;
    background: #333;
    transition: 2s;
}
.mainVisual .visualSlide .slick-dots li::after {
    content:"";
    display: block;
    width: 10%;
    height: 100%;
    background: #f00;

}
.mainVisual .visualSlide .slick-dots li::after {
    width: 100%;
    transition: 3s;
}

.mainVisual .visualSlide .slick-dots li.slick-active::after {
    background: #fff;
}

.mainVisual .visualSlide .slick-dots button {
    display: none;
}