.headerWrap {
    display: none;
    background-color: #000;
    color: #fff;
    padding: 30px, 0;
    text-align: right;
}

.headerWrap .container {
    width: 1200px;
    margin: 0 auto;
    padding: 15px;
    text-align: right;
    color: #fff;
}

.tabMenu {
    padding: 100px 0;
    background: #f2f2f2;
}

.tabMenu .container {
    width: 600px;
    margin: 0 auto;
}

.tabMenu .tabLink {
    display: flex;
}
.tabMenu .tabLink li {
    flex: 1;
}
.tabMenu .tabLink li.active {
    color: #808080;
}

.tabMenu .tabContent {

}

.tabMenu .tabContent>div {
    display: none;
}

.tabMenu .tabContent>div.active {
    display: block;
}

.bgFixed {
    padding: 200px 0;
    text-align: center;
    color: #fff;
    background : url(../img/main_resort02.jpg) no-repeat fixed center/cover;
    /* background-attachment: fixed; 
    /* 픽스드를 no-repeat 다음 fixed cneter/cover 하면 스클롤 형태의 이미지 부여*/
}

.bgFixed h2 {
    font-size: 15px;
    font-weight: 100;
    letter-spacing: 3em;
    margin-bottom: 30px;
}

.footerWqp .con {
    padding: 30px;
}